[submodule "Course 2/Low-Level Programming"]
	path = Course 2/Low-Level Programming
	url = https://github.com/tplaymeow/itmo-low-level-programming
[submodule "Course 2/Web/web-lab1"]
	path = Course 2/Web/web-lab1
	url = https://github.com/tplaymeow/itmo-web-lab1
[submodule "Course 2/Web/web-lab2"]
	path = Course 2/Web/web-lab2
	url = https://github.com/tplaymeow/itmo-web-lab2
[submodule "Course 2/Web/web-lab3"]
	path = Course 2/Web/web-lab3
	url = https://github.com/tplaymeow/itmo-web-lab3
[submodule "Course 2/Web/web-lab4-frontend"]
	path = Course 2/Web/web-lab4-frontend
	url = https://github.com/tplaymeow/itmo-web-lab4-frontend
[submodule "Course 2/Web/web-lab4-backend"]
	path = Course 2/Web/web-lab4-backend
	url = https://github.com/tplaymeow/itmo-web-lab4-backend
[submodule "Course 2/Math Logic"]
	path = Course 2/Math Logic
	url = https://github.com/tplaymeow/itmo-math-logic
[submodule "Course 2/Computational Math/computational-math-lab1"]
	path = Course 2/Computational Math/computational-math-lab1
	url = https://github.com/tplaymeow/itmo-computational-math-lab1
[submodule "Course 2/Computational Math/computational-math-lab2"]
	path = Course 2/Computational Math/computational-math-lab2
	url = https://github.com/tplaymeow/itmo-computational-math-lab2
[submodule "Course 2/Computational Math/computational-math-lab3"]
	path = Course 2/Computational Math/computational-math-lab3
	url = https://github.com/tplaymeow/itmo-computational-math-lab3
[submodule "Course 2/Computational Math/computational-math-lab4"]
	path = Course 2/Computational Math/computational-math-lab4
	url = https://github.com/tplaymeow/itmo-computational-math-lab4
[submodule "Course 2/Computational Math/computational-math-lab5"]
	path = Course 2/Computational Math/computational-math-lab5
	url = https://github.com/tplaymeow/itmo-computational-math-lab5
[submodule "Course 2/Computational Math/computational-math-lab6"]
	path = Course 2/Computational Math/computational-math-lab6
	url = https://github.com/tplaymeow/itmo-computational-math-lab6
[submodule "Course 2/Probability Theory/probability-theory-task5"]
	path = Course 2/Probability Theory/probability-theory-task5
	url = https://github.com/tplaymeow/itmo-probability-theory-task5
